<!-- <div
  class="bg-gradient-to-b from-[#bceeff] to-amber-50 text-black h-5/6 w-screen px-48 py-20 flex flex-col items-center space-y-5 font-sans"
>
  <p class="text-4xl">Hi, I'm Troy</p>
  <p class="text-lg">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim quae porro
    vero atque illo exercitationem quis, non deleniti ex assumenda animi fugit
    cumque provident reiciendis dolores totam ipsa. Alias, nobis.
  </p>
</div> -->

<div
  class="bg-gradient-to-b from-amber-50 to-[#bceeff] text-black font-sans w-full md:h-auto xl:px-44 md:px-6 px-2 pb-12 pt-20 flex items-center justify-center"
>
  <div
    class="background-hero w-1/3 max-w-[400px] min-h-[550px] rounded-4xl md:block hidden"
  ></div>
  <div class="md:w-2/3 flex flex-col justify-center items-center space-y-6">
    <p
      class="md:text-5xl text-4xl font-bold text-center max-w-full"
      [appTypewriter]="'Hi, I\'m Troy'"
      [speed]="100"
    ></p>
    <p class="md:text-lg text-sm md:w-3/4 px-2 md:px-0 text-center">
      I’m a full-stack software developer and UX designer with a proven track
      record of delivering scalable, high-performance web applications. I bring
      a deep understanding of both front-end experience and back-end
      architecture—bridging the gap between design, development, and deployment
      to build products that are both functional and intuitive.
    </p>
    <button
      class="bg-[#6ddbff] text-black rounded-full px-4 py-2 hover:bg-[#27C9FF] hover:cursor-pointer flex items-center space-x-2 transition-colors duration-200"
      routerLink="/form"
    >
      <mat-icon>group</mat-icon>
      <p class="font-extrabold">SEE THE CODE FOR THIS SITE</p>
    </button>
    <div
      class="background-hero w-1/3 max-w-[200px] min-h-[300px] rounded-4xl md:hidden"
    ></div>
  </div>
</div>
