<div
  class="bg-black font-mono text-amber-50 py-24 flex flex-col justify-center items-center space-y-8"
>
  <div class="flex flex-col items-start space-y-2">
    <p class="font-sans md:text-3xl text-xl text-[#6ddbff]">Contact Me</p>
    <p>
      Email:
      <a
        href="mailto:troyduncanbusiness@gmail.com?subject=Hi Troy!&body=Hello,%0A%0AI'd%20like%20to%20talk%20about%20a%20career%20opportunity!"
        class="hover:text-[#6ddbff] hover:cursor-pointer active:text-[#27C9FF] transition-colors duration-200"
        >{{ "troyduncanbusiness\@gmail.com" }}</a
      >
    </p>
    <p>
      Phone:
      <a
        href="tel:+16618091946"
        class="hover:text-[#6ddbff] hover:cursor-pointer active:text-[#27C9FF] md:transition-colors duration-200"
      >
        (661) 809 - 1946
      </a>
    </p>
  </div>
</div>
